body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

.product {
  width: 200px;
  height: 406px;
  display: flex;
}

.product-card {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 406px;
}

.product-card__image {
  position: absolute;
  top: 33px;
  left: 20px;
  align-items: center;
  width: 160px;
  height: 134px;
  background-image: url('images/imac.jpeg');
  background-size: 100% 100%;
  background-position: center;
  image-rendering: optimizeQuality;
}

.product-card__item {
  position: absolute;
  top: 207px;
  left: 17px;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  width: 166px;
  height: 36px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #060b35;
  vertical-align: bottom;
}

.product-card__code {
  position: absolute;
  top: 247px;
  color: #616070;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0%;
  width: 98px;
  height: 14px;
  margin-left: 17px;
}

.product-card__rating {
  position: absolute;
  top: 277px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 166px;
  height: 16px;
  margin-left: 17px;
}

.product-card__rating-reviews {
  display: inline-block;
  font-size: 10px;
  white-space: nowrap;
  margin: 0;
  vertical-align: bottom;
  color: #060b35;
}

.product-card__price {
  position: absolute;
  font-weight: 400;
  top: 317px;
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  width: 166px;
  height: 18px;
}

.product-card__price-word {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  line-height: 18px;
  color: #616070;
  vertical-align: bottom;
}

.product-card__price-amount {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #060b35;
}

.product-card__button {
  position: absolute;
  top: 351px;
  display: block;
  background-color: #00acdc;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  margin-left: 17px;
}

.product-card__button:hover {
  position: absolute;
  top: 351px;
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #00acdc;
  text-decoration: none;
  color: #00acdc;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  margin-left: 17px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.stars__star {
  height: 16px;
  width: 16px;
  background-image: url(images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.stars--4 .stars__star:nth-child(-n + 4) {
  height: 16px;
  width: 16px;
  background-image: url(images/star-active.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=index.css.map */
